<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="net.sourceforge.clearcase"
   name="Clearcase Library Plugin"
   version="0.9.7"
   provider-name="Matt Conway">

   <runtime>
      <library name="clearcase.jar">
         <export name="*"/>
         <packages prefixes="net.sourceforge.clearcase"/>
      </library>
      <library name="jacob.jar">
         <packages prefixes="com.jacob"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
   </requires>


</plugin>
